@inherits LayoutComponentBase
@inject SecurityService SecurityService

<SecurityWrapper>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                @if (!SecurityService.IsLocked && SecurityService.IsPinSet())
                {
                    <button class="btn btn-sm btn-outline-secondary" @onclick="LockApp" title="Lock App">
                        <i class="oi oi-lock-locked"></i> Lock
                    </button>
                }
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</SecurityWrapper>

@code {
    private void LockApp()
    {
        SecurityService.Lock();
    }
}